# Configuration file for LAMonitor.cc
multithread = true
initialRun = -1
finalRun = -1
# calibTreeDirectory = /eos/cms/store/group/dpg_tracker_strip/comm_tracker/Strip/Calibration/calibrationtree/Cosmics22/Run2022D/
calibTreeDirectory = ./
jsonFile = /home/ucl/cp3/jlidrych/Lumi/run3_lumi.json.gz
ptMin = 5.
nHitsValidMin = 8
chi2ndofMax = 1.4
bField = 4
# outputFile = LAMonitor_2022D
outputFile = LAMonitor_2025C
